* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
  min-height: 100%;
}

.card {
  background-color: #ffffff;
  height: 600px;
  width: 340px;
  border-radius: 10px;
}

.mobile-product-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.category {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(228, 12%, 48%);
  letter-spacing: 3px;
}

.product-title {
  font-family: 'Fraunces', serif;
}

.product-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.sale-price {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
}
